body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  background-image: url('https://wallpaper.to/files/preview/1280x878/41591264983ynd9puo6uob4htlhopmgzm5aij3zmj1vam4er06zakgxqcfpoobfg15efvp3ga5l6ixfqf4thjabqofzaomkj8qok3qkacifhsrz.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

body > img {
  margin: 0 10px;
}
